body {
    font-family: Roboto;
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);    /* IE10 */
    background: -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);    /* Opera 11.10+ */
    background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);    /* W3C */
}

#container {
    width: 360px;
    background-color: #f7f7f7;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #2980b9;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 10px 20px;
}

.fa-plus {
    float: right;
}

#addTodo {
    background-color: #f7f7f7;
    color: #2980b9;
    font-size: 18px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0);
    margin: 0;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
}

#addTodo:focus {
    background-color: white;
    border: 3px solid #2980b9;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #fff;
    color: #666;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n) {    /*one each*/
    background-color: #f7f7f7;
}

span {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    width: 0;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

.completed {
    text-decoration: line-through;
    opacity: 0.4;
}
